In [21]:
import pandas as pd
from dataloader import Dataloader

dataloader = Dataloader()
df = dataloader.get_data()
df.columns

[2025-03-13 16:49:22] Loading data form local file system

Index(['ball_receipt_outcome', 'ball_recovery_recovery_failure',
       'block_deflection', 'carry_end_location', 'clearance_aerial_won',
       'clearance_body_part', 'clearance_head', 'clearance_left_foot',
       'clearance_right_foot', 'counterpress',
       ...
       'goalkeeper_punched_out', 'shot_redirect',
       'goalkeeper_shot_saved_off_target', 'shot_saved_off_target',
       'goalkeeper_shot_saved_to_post', 'shot_saved_to_post',
       'goalkeeper_lost_out', 'goalkeeper_success_in_play',
       'shot_follows_dribble', 'half_start_late_video_start'],
      dtype='object', length=115)

In [ ]:
columns = ["player", "match_id","minute", "timestamp", "substitution_replacement","substitution_outcome"]
match_a = df.loc[(df["match_id"]==3890324), columns]

def get_minutes_played(df):
    pass

In [1]:
for c in df.columns:
    print(c)

NameError: name 'df' is not defined

In [ ]:
columns = ["player", "match_id","minute", "timestamp", "substitution_replacement","substitution_outcome"]
df.loc[df["minute"]<90, columns]

,player,match_id,minute,timestamp,substitution_replacement,substitution_outcome
0,<NA>,3890561,0,00:00:00.000,NaN,NaN
1,<NA>,3890561,0,00:00:00.000,NaN,NaN
2,<NA>,3890561,0,00:00:00.000,NaN,NaN
3,<NA>,3890561,0,00:00:00.000,NaN,NaN
4,<NA>,3890561,45,00:00:00.000,NaN,NaN
...,...,...,...,...,...,...
1069861,Philipp Lahm,3890259,71,00:26:32.302,Thiago Alcântara do Nascimento,Tactical
1069862,<NA>,3890259,55,00:10:26.567,NaN,NaN
1069863,<NA>,3890259,60,00:15:11.750,NaN,NaN
1069864,<NA>,3890259,65,00:20:07.518,NaN,NaN
1069865,<NA>,3890259,69,00:24:17.824,NaN,NaN

In [ ]:
pd.DataFrame(df.groupby("match_id")["minute"].max()).rename({"minute":"match_duration"},axis=1)

          match_duration
match_id
3890259               90
3890260               93
3890261               90
3890262               91
3890263               93
...                  ...
3890560               90
3890561               91
3890562               90
3890563               94
3890564               93

[306 rows x 1 columns]

In [4]:
columns = ["player", "match_id","minute", "timestamp", "substitution_replacement","substitution_outcome"]
df = df.loc[:, columns]
df_games_minutes = pd.DataFrame(df.groupby("match_id")["minute"].max()).rename({"minute":"match_duration"},axis=1)
df = pd.merge(left=df, right=df_games_minutes, on="match_id")
df

,player,match_id,minute,timestamp,substitution_replacement,substitution_outcome,match_duration
0,<NA>,3890561,0,00:00:00.000,NaN,NaN,91
1,<NA>,3890561,0,00:00:00.000,NaN,NaN,91
2,<NA>,3890561,0,00:00:00.000,NaN,NaN,91
3,<NA>,3890561,0,00:00:00.000,NaN,NaN,91
4,<NA>,3890561,45,00:00:00.000,NaN,NaN,91
...,...,...,...,...,...,...,...
1069861,Philipp Lahm,3890259,71,00:26:32.302,Thiago Alcântara do Nascimento,Tactical,90
1069862,<NA>,3890259,55,00:10:26.567,NaN,NaN,90
1069863,<NA>,3890259,60,00:15:11.750,NaN,NaN,90
1069864,<NA>,3890259,65,00:20:07.518,NaN,NaN,90
1069865,<NA>,3890259,69,00:24:17.824,NaN,NaN,90

In [ ]:
substitutions = df.loc[(df["substitution_replacement"].notna()) & (df["match_id"]==3890324),:]
substitutions["substitution_minutes_played"] = substitutions["match_duration"] - substitutions["minute"] 
substitutions

C:\Users\Alexander Lorenz\AppData\Local\Temp\ipykernel_18560\4286990205.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  substitutions["substitution_minutes_played"] = substitutions["match_duration"] - substitutions["minute"]

,player,match_id,minute,timestamp,substitution_replacement,substitution_outcome,match_duration,substitution_minutes_played
861873,Niklas Stark,3890324,28,00:28:28.490,Jens Hegeler,Injury,90,62
861874,Matthias Ostrzolek,3890324,45,00:00:00.000,Gotoku Sakai,Tactical,90,45
861875,Marcelo Alfonso Díaz Rojas,3890324,61,00:16:40.471,Ivo Iličević,Tactical,90,29
861876,Salomon Armand Magloire Kalou,3890324,69,00:24:44.004,Alexander Baumjohann,Tactical,90,21
861877,Nicolai Müller,3890324,74,00:29:02.067,Ivica Olić,Tactical,90,16
861878,Tolga Ciğerci,3890324,81,00:36:27.570,Valentin Stocker,Tactical,90,9

Minutes Played for players that were substituted in/out during one game

In [79]:
substitutions_in = substitutions[["substitution_replacement", "substitution_minutes_played"]].rename({"substitution_replacement":"player", "substitution_minutes_played": "minute"},axis=1)
pd.concat([substitutions_in, substitutions[["player","minute"]]])

                               player  minute
861873                   Jens Hegeler      62
861874                   Gotoku Sakai      45
861875                   Ivo Iličević      29
861876           Alexander Baumjohann      21
861877                     Ivica Olić      16
861878               Valentin Stocker       9
861873                   Niklas Stark      28
861874             Matthias Ostrzolek      45
861875     Marcelo Alfonso Díaz Rojas      61
861876  Salomon Armand Magloire Kalou      69
861877                 Nicolai Müller      74
861878                  Tolga Ciğerci      81

In [17]:
not_substituted = df.loc[(df["match_id"]==3890324),["player", "match_duration"]]
not_substituted_players = not_substituted[not_substituted["player"].notna()]["player"].unique()
minutes_played = not_substituted["match_duration"].unique()

pd.DataFrame({"player":not_substituted_players,
              "minute" : [90 for _ in not_substituted_players]})

                           player  minute
0                  Vedad Ibišević      90
1   Salomon Armand Magloire Kalou      90
2                 Vladimír Darida      90
3                 Mitchell Weiser      90
4                    Niklas Stark      90
5             Fabian Lustenberger      90
6             Marvin Plattenhardt      90
7         Rune Almenning Jarstein      90
8                 Jaroslav Drobný      90
9    Johan Danon Djourou-Gbadjere      90
10             Matthias Ostrzolek      90
11               Dennis Diekmeier      90
12                    Albin Ekdal      90
13          Pierre-Michel Lasogga      90
14                Genki Haraguchi      90
15                    Emir Spahić      90
16     Marcelo Alfonso Díaz Rojas      90
17                     Aaron Hunt      90
18             Lewis Harry Holtby      90
19           Per Ciljan Skjelbred      90
20                  Tolga Ciğerci      90
21                 Nicolai Müller      90
22                   Jens Hegeler      90
23                   Gotoku Sakai      90
24                   Ivo Iličević      90
25           Alexander Baumjohann      90
26               Valentin Stocker      90
27                     Ivica Olić      90

In [20]:
d  = df.loc[(df["match_id"]==3890324),["player", "match_duration"]]
d["player"].unique()

<StringArray>
[                           <NA>,                'Vedad Ibišević',
 'Salomon Armand Magloire Kalou',               'Vladimír Darida',
               'Mitchell Weiser',                  'Niklas Stark',
           'Fabian Lustenberger',           'Marvin Plattenhardt',
       'Rune Almenning Jarstein',               'Jaroslav Drobný',
  'Johan Danon Djourou-Gbadjere',            'Matthias Ostrzolek',
              'Dennis Diekmeier',                   'Albin Ekdal',
         'Pierre-Michel Lasogga',               'Genki Haraguchi',
                   'Emir Spahić',    'Marcelo Alfonso Díaz Rojas',
                    'Aaron Hunt',            'Lewis Harry Holtby',
          'Per Ciljan Skjelbred',                 'Tolga Ciğerci',
                'Nicolai Müller',                  'Jens Hegeler',
                  'Gotoku Sakai',                  'Ivo Iličević',
          'Alexander Baumjohann',              'Valentin Stocker',
                    'Ivica Olić']
Length: 29, dtype: string